<!DOCTYPE html>
<html>
<head>
    <title>{{ character.getName() }} | Rick and Morty Characters</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-full">
            <a href="/characters" class="button">Back to Characters</a>
        </div>
        <div class="column is-one-quarter">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ character.getImage() }}" alt="{{ character.getName() }}">
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title">{{ character.getName() }}</p>
                    {% if character.getStatus() == 'Alive' %}
                        <p class="subtitle"><span class="tag is-success"></span> {{ character.getStatus() }}
                            - {{ character.getSpecies() }}</p>
                    {% elseif character.getStatus() == 'Dead' %}
                        <p class="subtitle"><span class="tag is-danger"></span> {{ character.getStatus() }}
                            - {{ character.getSpecies() }}</p>
                    {% else %}
                        <p class="subtitle"><span class="tag is-warning"></span> {{ character.getStatus() }}
                            - {{ character.getSpecies() }}</p>
                    {% endif %}
                    <p>{{ character.getLocation() }}</p>
                    <p>First seen in {{ character.getEpisode() }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
